<!DOCTYPE HTML>
<html lang="en" ng-app="AniCredits">
	<head>
	  <meta charset="utf-8">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>anicredits &raquo; Jay Agonoy</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
		<meta name="description" content="A list of copyright text ready to be pasted in anything that needs attribution.">
		<meta name="og:type" content="website" />
		<meta name="og:url" content="http://jay.is-super.moe/anicredits" />
		<meta name="og:title" content="anicredits" />
		<meta name="og:description" content="A list of copyright text ready to be pasted in anything that needs attribution." />
		<meta name="og:image" content="image.jpg" />
		<link rel="me" href="http://plus.google.com/+JayAgonoy" />
		<link rel="author" href="https://www.facebook.com/assortexjay" />
		<meta name="twitter:creator" content="@assortex" />
		<link href='https://cdnjs.cloudflare.com/ajax/libs/uikit/2.22.0/css/uikit.min.css' rel='stylesheet' type='text/css'>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.6/angular.js"></script>
		<script src="controller.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.22.0/js/uikit.min.js"></script>
	</head>
	<body ng-controller="DisplayPanel">
			
		<nav class="uk-navbar uk-navbar-attached" data-uk-sticky style="z-index:1000;background: none;">
            <div class="uk-navbar-content uk-navbar-center">
				<a href="/"><img itemprop name="name" src="/images/logo.png" alt="Jay Agonoy" /></a>			
			</div>
        </nav>		
		
        <div class="uk-container uk-width-3-4 uk-container-center uk-margin-large">			
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-1-1">
                    <h1 class="uk-heading-large">anicredits</h1>
					<p class="uk-h2">A list of copyright text ready to be pasted in anything that needs attribution.</p>
                    <p>I took up a list of copyright credit text as part of my blogging stint, but now I want to expand it from a side-project to something of a web application.</p>
                    <p>Not all information here is accurate, so I need everyone's help and cooperation. Let's make this side-project better! You can pull the Github repo and check out the <code>controller.js</code> which contains the database itself. If you are not into Git. you can request titles by tweeting me.</p>
					<p class="uk-container-center uk-width-3-4 uk-text-center">
						<a class="uk-button uk-button-primary uk-button-large" href="https://medium.com/@assortex/why-i-did-anicredits-a5b865971953?source=your-stories" target="_blank">Read more about anicredits <i class="uk-icon-external-link"></i></a>
						<br class="uk-grid-divider"/>
						<a href="https://twitter.com/intent/tweet?screen_name=assortex" class="twitter-mention-button" data-size="large" data-related="assortex" data-dnt="true">Tweet to @assortex</a>
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
						
						<!-- Place this tag where you want the button to render. -->
						<a aria-label="Issue assortex/anicredits on GitHub" data-count-aria-label="# issues on GitHub" data-count-api="/repos/assortex/anicredits#open_issues_count" data-style="mega" href="https://github.com/assortex/anicredits/issues" class="github-button">Issue</a>
						<!-- Place this tag right after the last button or just before your close body tag. -->
						<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
					</p>
                </div>
            </div>			
		</div>

        <div class="uk-block uk-block-large uk-block-secondary uk-contrast" id="profile" style="background: url('/images/background.jpg') repeat rgba(0, 0, 0, 0.5) scroll 0% 0%; background-blend-mode: hard-light;">
			<div class="uk-container uk-container-center uk-grid">
				<div class="uk-container-center">
					<div class="uk-form-icon">
						<form class="uk-form uk-form-icon uk-width-1-1">
							<i class="uk-icon-search"></i>
							<input class="uk-form-large uk-form-width-large uk-width-1-1" type="text" placeholder="Search Title" ng-model="query">
						</form>
					</div>
				</div>                
            </div>
		</div>		

        <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
			<div class="uk-container uk-width-1-1">
				<form class="uk-form uk-margin-top uk-container-center uk-visible-small">
					<input type="text" class="uk-width-1-1" placeholder="Search Events" ng-model="query">
				</form>
			</div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-3-4 uk-container-center uk-margin-top uk-overflow-container">
					<table class="uk-table uk-table-hover uk-table-striped uk-form">
						<thead>
							<tr>
								<th class="uk-text-center uk-width-4-10">Title</th>
								<th class="uk-text-center uk-width-3-10">Attribution</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="event in events | filter:query | orderBy:'title
							'">
								<td><a href="{{event.site}}" target="_blank"><strong>{{event.title}}</strong> <i class="uk-icon-external-link"></i></a></td>
								<td class="uk-container-center uk-text-center">
									<input type="text" class="uk-form-width-large uk-disabled" value="{{event.credit}}" readonly></input>
								</td>
							</tr>
						</tbody>
					</table>
                </div>
            </div>
        </div>
		<hr class="uk-grid-divider" />
		<footer class="uk-grid uk-margin-large" data-uk-grid-margin="">
			<div class="uk-width-4-5 uk-container-center">
				<div class="uk-panel uk-text-center">
					<p>
						This is a <span itemprop="name">Jay Agonoy</span> project.
						<br />
						<span class="mail uk-button uk-button-primary" data-uk-toggle="{target:'.mail'}"><i class="uk-icon-envelope"></i> Send me a mail</span>
						<span itemprop="email" class="mail uk-hidden uk-button uk-button-danger" data-uk-toggle="{target:'.mail'}"><i class="uk-icon-envelope"></i> jay.agonoy@outlook.ph</span>
						
						Thanks to <a href="http://twitter.com/acostoss" target="_blank"><i class="uk-icon-twitter"></i>@acostoss</a> for the domain, <a href="http://getuikit.com" target="_blank">UIKit</a> for the framework and <a href="http://github.com" target="_blank"><i class="uk-icon-github"></i> GitHub</a> for the hosting.</p>
				</div>
			</div>
		</footer>
	</body>
</html>